
        .body-initial {
            background-color: rgba(255, 255, 255, 1);
            border-radius: 15px 15px 15px 15px;
            border-width: 1px 1px 1px 1px;
            border-style: solid;
        }
        
        .silex-id-1478366444112-1 {
            top: 6px;
            left: 6px;
            background-color: rgba(214, 214, 214, 1);
        }
        
        .silex-id-1478366444112-0 {
            min-height: 91px;
            background-color: transparent;
            width: 1200px;
        }
        
        .silex-id-1520428656677-9 {
            width: 106px;
            min-height: 112px;
            top: -2px;
            left: 61px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1520428656677-9 {
                left: 345px;
                top: 983px;
            }
        }
        
        .silex-id-1520428594077-8 {
            width: 818px;
            background-color: rgba(103, 248, 255, 0.3137254901960784);
            min-height: 100px;
            top: 8px;
            left: 202px;
        }
        
        .silex-id-1520428375778-3 {
            width: 587px;
            min-height: 100px;
            top: 2px;
            left: 237px;
        }
        
        .silex-id-1520428685052-10 {
            width: 42px;
            min-height: 22px;
            top: 19px;
            left: 727px;
            background-color: rgba(129, 255, 231, 1);
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1520428685052-10 {
                left: 421px;
                top: 973px;
            }
        }
        
        .silex-id-1474394621033-3 {
            top: 5px;
            left: 0px;
            background-color: rgba(173, 173, 173, 1);
            min-width: 600px;
        }
        
        .silex-id-1474394621032-2 {
            min-height: 600px;
            background-color: transparent;
            width: 600px;
            top: 15px;
            left: 226px;
        }
        
        .silex-id-1520506963117-7 {
            width: 100px;
            min-height: 31px;
            top: 97px;
            left: -83px;
        }
        
        .silex-id-1520506990253-8 {
            width: 575px;
            min-height: 99px;
            top: 97px;
            left: 19px;
        }
        
        .silex-id-1520507036021-9 {
            width: 100px;
            min-height: 29px;
            top: 197px;
            left: -82px;
        }
        
        .silex-id-1520507041099-10 {
            width: 575px;
            min-height: 102px;
            top: 197px;
            left: 18px;
        }
        
        .silex-id-1520507049154-12 {
            width: 100px;
            min-height: 30px;
            top: 299px;
            left: -83px;
        }
        
        .silex-id-1520507044852-11 {
            width: 575px;
            min-height: 99px;
            top: 300px;
            left: 17px;
        }
        
        .silex-id-1520502779218-1 {
            width: 358px;
            min-height: 100px;
            top: 63px;
            left: -295px;
        }
        
        .silex-id-1520501724416-0 {
            width: 560px;
            min-height: 158px;
            top: 60px;
            left: -68px;
        }
        
        .silex-id-1520504135421-6 {
            width: 358px;
            min-height: 100px;
            top: 239px;
            left: -293px;
        }
        
        .silex-id-1520502949148-3 {
            width: 559px;
            min-height: 158px;
            top: 229px;
            left: -67px;
        }
        
        .silex-id-1520504483248-9 {
            width: 358px;
            min-height: 100px;
            top: 429px;
            left: -293px;
        }
        
        .silex-id-1520504466942-7 {
            width: 559px;
            min-height: 158px;
            top: 410px;
            left: -66px;
        }
        
        .silex-id-1520428177293-1 {
            width: 154px;
            background-color: rgba(129, 255, 231, 1);
            min-height: 43px;
            top: 1px;
            left: 172px;
        }
        
        .silex-id-1520428232928-2 {
            width: 100px;
            min-height: 28px;
            top: 14px;
            left: 26px;
            background-color: rgba(129, 255, 231, 1);
        }
        
        .silex-id-1520428980367-15 {
            width: 402px;
            height: 224px;
            background-color: transparent;
            top: 62px;
            left: 68px;
        }
        
        .silex-id-1520428485388-4 {
            width: 193px;
            background-color: rgba(129, 255, 231, 1);
            min-height: 43px;
            top: 1px;
            left: 376px;
        }
        
        .silex-id-1520428485388-5 {
            width: 100px;
            min-height: 20px;
            top: 15px;
            left: 52px;
            background-color: rgba(129, 255, 231, 1);
        }
        
        .silex-id-1520428523241-6 {
            width: 174px;
            background-color: rgba(129, 255, 231, 1);
            min-height: 43px;
            top: 1px;
            left: -87px;
        }
        
        .silex-id-1520428523241-7 {
            width: 100px;
            min-height: 28px;
            top: 12px;
            left: 56px;
            background-color: rgba(129, 255, 231, 1);
        }
        
        .silex-id-1520503346651-4 {
            width: 137px;
            min-height: 152px;
            top: 59px;
            left: 514px;
        }
        
        .silex-id-1520503401801-5 {
            width: 137px;
            min-height: 152px;
            top: 229px;
            left: 515px;
        }
        
        .silex-id-1520504474564-8 {
            width: 137px;
            min-height: 152px;
            top: 409px;
            left: 516px;
        }
        
        .silex-id-1520505145885-1 {
            width: 396px;
            min-height: 29px;
            top: 245px;
            left: 71px;
            background-color: transparent;
        }
        
        .silex-id-1520506561860-4 {
            width: 1064px;
            min-height: 332px;
            top: 266px;
            left: -209px;
        }
        
        .silex-id-1520506526365-3 {
            width: 290px;
            min-height: 266px;
            top: 25px;
            left: 120px;
        }
        
        .silex-id-1520506752957-5 {
            width: 508px;
            min-height: 100px;
            top: 48px;
            left: -31px;
        }
        
        .silex-id-1520506841517-6 {
            width: 700px;
            min-height: 492px;
            top: 159px;
            left: -105px;
        }
        
        .silex-id-1520507206045-13 {
            width: 45px;
            min-height: 20px;
            top: 167px;
            left: 253px;
            background-color: rgba(9, 173, 157, 1);
        }
        
        .silex-id-1520507263868-14 {
            width: 45px;
            min-height: 20px;
            top: 274px;
            left: 253px;
            background-color: rgba(9, 173, 157, 1);
        }
        
        .silex-id-1520507267935-15 {
            width: 45px;
            min-height: 20px;
            top: 377px;
            left: 255px;
            background-color: rgba(9, 173, 157, 1);
        }
        
        .silex-id-1520507450340-16 {
            width: 400px;
            height: 400px;
            background-color: transparent;
            top: 63px;
            left: 10px;
        }
        
        .silex-id-1478366450713-3 {
            top: 100px;
            left: NaNpx;
            background-color: transparent;
        }
        
        .silex-id-1478366450713-2 {
            min-height: 100px;
            background-color: transparent;
            width: 1200px;
        }
        
        .silex-id-1442914737143-3 {
            min-height: 53px;
            width: 349px;
            top: 25px;
            left: 118px;
        }
        
        .silex-id-1520429515402-16 {
            width: 100px;
            min-height: 20px;
            top: 51px;
            left: 27px;
            background-color: rgba(129, 255, 231, 1);
        }
        
        .silex-id-1520428854772-12 {
            min-height: 100px;
        }
        
        .silex-id-1520428854771-11 {
            min-height: 100px;
        }
    